<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
<insert id="insertBoard">insert into data (productCondition,category,name,price, seller, city,possibleDelivery) values( #{productCondition}, #{category} ,#{name} ,#{price} ,#{seller} ,#{city} ,#{possibleDelivery})</insert>
<update id="updateBoard">update data set productCondition =#{productCondition} ,category =#{category} ,name =#{name} ,price =#{price} ,seller =#{seller} ,city =#{city} ,possibleDelivery =#{possibleDelivery} WHERE ID=#{id}
</update>
<delete id="deleteBoard">delete from data where id=#{id}</delete>
<select id="getBoard" resultType ="board">select * from data where id=#{id}</select>
<select id="getBoardList" resultType = "board">select * from data order by id desc</select>

</mapper>